{% extends 'home/index.html' %}

{% block contents %}
<br>
<div class="mt-5">
    <div class="container">
        <h2>TO DO</h2>           
        <table class="table">
            <thead>
                <tr>
                  <th>check</th>  
                  <th>Title</th>
                  <th>Content</th>
                  <th>End date</th>
                </tr>
              </thead>
<!-- <div>할일!</div> -->
              

              <tbody>
    {% for list in todo_list %}
        <div calss="list-group-item">
            <td><input type="checkbox"></td>
            <td>{{list.title}} </td>
            <td width="300px"> {{list.content}}</td>
            <td>{{list.end_date}}</td>
            </div>
            </tbody>
    {% endfor %}
        <div>
        <a href="{% url 'todo_board:todo_board_insert' %}"><button type="button" class="btn btn-primary">
            일정추가
        </button></a>
        </div>
        </div>

{% endblock contents %}